<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067878617551-md1ihq9et0vtcc042fdg3hfd2stlvh2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067878617551-md1ihq9et0vtcc042fdg3hfd2stlvh2i</string>
	<key>API_KEY</key>
	<string>AIzaSyCl2RfyMzGiSDCON3ZDRlYg8AFpwOVTQmo</string>
	<key>GCM_SENDER_ID</key>
	<string>1067878617551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Elotero</string>
	<key>PROJECT_ID</key>
	<string>elotero-d082d</string>
	<key>STORAGE_BUCKET</key>
	<string>elotero-d082d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067878617551:ios:80e8fcd3dc52d51b</string>
	<key>DATABASE_URL</key>
	<string>https://elotero-d082d.firebaseio.com</string>
</dict>
</plist>